<!--Application header-->
<app-header></app-header>
<!--END Application header-->

<!--Application body depending of route-->
<router-outlet></router-outlet>
<!--END Application body depending of route-->

<!--Application footer-->
<!--<app-footer></app-footer>-->
<!--END Application footer-->
