<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <mat-card>
    <form [formGroup]="filterForm" *ngIf="filterForm">
      <div class="container">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Search" formControlName="search">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <mat-select formControlName="filter">
                <mat-option *ngFor="let filter of filters" [value]="filter.value">
                  {{filter.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <div class="d-flex">
              <mat-form-field>
                <mat-label>Sort</mat-label>
                <mat-select formControlName="sort">
                  <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                    {{sort.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button style="margin-top: 10px;" mat-icon-button (click)="changeSortDirection(true)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button style="margin-top: 10px;" mat-icon-button (click)="changeSortDirection(false)">
                <mat-icon>arrow_downward</mat-icon>
              </button>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-end justify-content-end  " style="margin-top: 15px;">
              <button mat-stroked-button (click)="clearFilters()">
                Clear <mat-icon>clear</mat-icon>
              </button>
              <div>
                <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
  <br>
  <mat-card *ngIf="mediaItems.length == 0 && !loading">
    <div class="d-flex justify-content-center">
      <p *ngIf="mediaItems.length == 0">No results</p>
    </div>
  </mat-card>

  <mat-card *ngFor="let mediaItem of mediaItems" style="margin-top: 15px;">
    <div class="d-flex">
      <div class="row">
        <div class="col-md-2">
          <img [src]="mediaItem.imagePath" style="width: 100%;height: auto;">
        </div>
        <div class="col">
          <mat-card-title>{{mediaItem.name}}</mat-card-title>
          <mat-card-subtitle>{{mediaItem.description}}</mat-card-subtitle>
          <mat-card-subtitle>Type: <b>{{mediaItem.type}}</b></mat-card-subtitle>
          <mat-card-subtitle>Date: <b>{{mediaItem.dateUploaded | date: 'dd/MM/yyyy'}}</b></mat-card-subtitle>
        </div>
      </div>
    </div></mat-card>
</div>
